<footer>
    <div class="section section-contact fp-auto-height-responsive" data-section="contact">
      <!-- Begin of slide section wrapper -->
      <div class="section-wrapper fullwidth with-margin">
        <!-- main content -->
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <!-- content -->
            <div class="section-content text-left">
              <!-- title and description -->
              <div class="title-desc">
                <div><a name="contact"></a>
                  <h2 class="display-4 display-title mb-5">Connect With Me</h2>
                  <p>I love to design and create things. Have a project, idea or problem you'd like to discuss? Let's chat!</p>
                </div>
                <div class="icons-margin">
                  <a class="icon-btn" href="mailto:zhijun.low@gmail.com">
                    <i class="icon ion-md-mail"></i>
                  </a>
                  <a class="icon-btn" target="_blank" href="https://twitter.com/probablyjun">
                    <i class="icon ion-logo-twitter"></i>
                  </a>
                  <a class="icon-btn" target="_blank" href="https://github.com/jun-low">
                    <i class="icon ion-logo-github"></i>
                  </a>
                  <a class="icon-btn" target="_blank" href="https://www.linkedin.com/in/junlow/">
                    <i class="icon ion-logo-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of slide section wrapper -->
    </div>
</footer>
