<footer>
    <div class="section section-contact fp-auto-height-responsive" data-section="contact">
      <!-- Begin of slide section wrapper -->
      <div class="section-wrapper fullwidth with-margin">
        <!-- main content -->
        <div class="row">
          <div class="col-12 col-md-4 col-lg-6">
            <!-- content -->
            <div class="section-content text-left">
              <!-- title and description -->
              <div class="title-desc">
                <div><a name="contact"></a>
                  <h2 class="display-4 display-title mb-5">Connect With Me</h2>
                  <p>I love to design and create things. Have a project, idea or problem you'd like to discuss? Let's chat!</p>
                </div>
                <div class="icons-margin">
                  <a class="icon-btn" target="_blank" href="https://twitter.com/probablyjun">
                    <i class="icon ion-logo-twitter"></i>
                  </a>
                  <a class="icon-btn" target="_blank" href="https://github.com/jun-low">
                    <i class="icon ion-logo-github"></i>
                  </a>
                  <a class="icon-btn" target="_blank" href="https://www.linkedin.com/in/junlow/">
                    <i class="icon ion-logo-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- aside content -->
        <div class="section-aside aside-bottom">
          <div class="message-form">
            <h4>Or Drop me a line!</h4>
            <div class="form-container form-container-card">
              <!-- Message form container -->
              <form class="send_message_form message form" method="post" action="https://getsimpleform.com/messages?form_api_token=e46c376242be65f2324351f2ab7adeb0"
              id="message_form">
              <input type='hidden' name='redirect_to' value='https://jun-low.github.io/portfolio/thankyou.html.erb' />
                <div class="form-group name">
                  <input id="mes-name" name="name" type="text" placeholder="Name" class="form-control form-control-outline thick form-success-clean"
                  required>
                </div>
                <div class="form-group email">
                  <input id="mes-email" type="email" placeholder="Email" name="email" class="form-control form-control-outline thick form-success-clean"
                  required>
                </div>
                <div class="form-group no-border">
                  <textarea id="mes-text" placeholder="Message ..." name="message" class="form-control form-control-outline thick form-success-clean"
                  required></textarea>

                  <div>
                    <p class="message-ok invisible form-text-feedback form-success-visible">Your message has been sent, thank you.</p>
                  </div>
                </div>

                <div class="btns text-right">
                  <button id="submit-message" class="btn btn-outline-white btn-round Not email_b"
                  name="submit_message">
                    <span class="txt">Send Now</span>
                    <span class="arrow-icon"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End of slide section wrapper -->
    </div>
</footer>
