<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Page Title Here -->
  <title>Jun Low 路 Full-stack developer</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description" content="Hi, My name is Jun. I am a pianist, music teacher and a full-stack developer. I help businesses solve user problems by creating experiences for mobile and the web.">
  <meta name="keywords" content="Ruby,web developer,website,build,
  develop,new,javascript,pianist,software,software developer,tech,technology,development, github, ruby on rails, front end, fullstack">
  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@probablyjun">
  <meta name="twitter:creator" content="@probablyjun">
  <meta name="twitter:card" content="Hello!">
  <meta name="twitter:title" content="Jun Low 路 Full-stack developer">
  <meta name="twitter:description" content="Hi, My name is Jun. I am a pianist, music teacher and a full-stack developer. I help businesses solve user problems by creating experiences for mobile and the web.">
  <meta name="twitter:image" content="/img/bg-pallax.jpg">
  <meta name="twitter:image:alt" content="jun low profile">

  <!-- Facebook Meta -->
  <meta property="og:url" content="https://www.jun-low.com">
  <meta property="og:title" content="Jun Low 路 Full-stack developer">
  <meta property="og:description" content="Hi, My name is Jun. I am a pianist, music teacher and a full-stack developer. I help businesses solve user problems by creating experiences for mobile and the web.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-pallax.jpg">
  <meta property="og:image:secure_url" content="/img/bg-pallax.jpg">
  <meta property="og:image:type" content="img/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:site_name" content="Jun Low 路 Full-stack developer">


  <!-- Jquery Here -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Bootstrap/Icon Here -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-yNuQMX46Gcak2eQsUzmBYgJ3eBeWYNKhnjyiBqLd1vvtE9kuMtgw6bjwN8J0JauQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
  <%= favicon_tag 'images/favicon.png' %>
</head>

<body id="menu" class="body-page">
<%= yield %>
</body>

</html>
