<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Page Title Here -->
  <title>Jun Low | Software Developer</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description" content="Hey there. I'm Jun Low 🎈. A web developer, teacher, and a pianist based on earth. I love to create things and help others to achieve their goals with web development.">
  <meta name="keywords" content="Ruby, web developer, typescript, jun, low, develop, pianist, design, software developer, tech, javascript ,development, ruby on rails, front end, fullstack">
  <meta name="google-site-verification" content="kQuO6F71tgNm7hoS0Hw6thtjtRIYslFF8o3hQuNgPQQ" />
  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@_junlow">
  <meta name="twitter:creator" content="@_junlow">
  <meta name="twitter:card" content="Hello!">
  <meta name="twitter:title" content="Jun Low | Software Developer">
  <meta name="twitter:description" content="Hey there. I'm Jun Low 🎈. A web developer, teacher, and a pianist based on earth. I love to create things and help others to achieve their goals with web development.">
  <meta name="twitter:image" content="images/bg-pallax.jpg">
  <meta name="twitter:image:alt" content="jun low">

  <!-- Facebook Meta -->
  <meta property="og:url" content="https://jun-low.com">
  <meta property="og:title" content="Jun Low | Software Developer">
  <meta property="og:description" content="Hey there. I'm Jun Low 🎈. A web developer, teacher, and a pianist based on earth. I love to create things and help others to achieve their goals with web development.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="images/bg-pallax.jpg">
  <meta property="og:image:secure_url" content="images/bg-pallax.jpg">
  <meta property="og:image:type" content="img/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:site_name" content="Jun Low | Software Developer">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-yNuQMX46Gcak2eQsUzmBYgJ3eBeWYNKhnjyiBqLd1vvtE9kuMtgw6bjwN8J0JauQ" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
  <%= favicon_tag 'images/favicon-j.png' %>
</head>

<body id="menu" class="body-page">
<%= yield %>
</body>

</html>
