.page-cover {
width: 100%;
position: fixed;
height: 120%;
height: 100vh;
top: 0;
left: 0;
z-index: -1;
overflow: hidden; }
.page-cover .cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*  Page cover background image,color */
    background: url(../images/bg-default.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1; }

.page-cover .bg-line {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    display: none; }
    @media (min-width: 601px) {
    .page-cover .bg-line {
        display: block; } }
    .page-cover .bg-line:before {
    content: "";
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    height: 100%;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none; }
    .page-cover .bg-line:after {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    height: 100%;
    border-left: 1px solid #fff;
    margin-left: -1px; }

/* Pages Default settings*/
.page-main {
min-height: 100%; }

.body-page {
padding: 0;
background-color: #1d1d1d;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
color: #ffffff;
background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/bg-default.jpeg);
position: relative; }

#parallax {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../images/bg-pallax.jpg);
    transition: 0.05s ease-in-out;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-position: right;
}
