
<div class='page-loader'>
    <div><i class='fa fa-spinner  fa-spin'></i><p>loading</p></div>
</div>

  <!-- BEGIN OF site header Menu -->
  <%= partial "layouts/navbar" %>
  <!-- END OF site header Menu-->

  <!-- BEGIN OF page cover -->
  <div id="parallax">
  </div>
  <!--END OF page cover -->

  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage main-anim" id="mainpage">

    <!-- Begin of intro section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive main-home section-centered"
    data-section="home">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin v-center">
        <!-- content -->
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h1 class="display-4 display-title home-title decor anim-1">Jun Low</h1>
                <div class="animated-intro">
                  <p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
                </div>
                <p>My name is Jun. I am a pianist, music teacher and a full-stack developer based in earth.</p>
              </div>

              <!-- Action button -->
              <div class="btns-action">
                <a class="btn btn-circicon btn-primary" href="#about">
                  <span class="icon"></span>
                  <span class="text">My story</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="section-aside aside-bottom">

          <!-- Action button -->
          <div class="btns-action text-right">
            <a class="btn btn-outline-white btn-round" href="#contact">
              Contact
            </a>
          </div>
        </div>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of intro section -->

    <!-- Begin of about me section -->
    <div class="section section-description fp-auto-height-responsive " data-section="about">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin">

        <!-- content -->
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-md-6 text-left">
              <!-- about me section -->
              <div class="title-desc">
                <h1 class="display-4 display-title"><a name="about"></a>About</h1>
                <h4>Why tech?</h4>
                <p>I feel like I’m learning a new instrument when I coding, the spark has ignited me instantly in a way I wasn’t expecting. Finding solutions became just as creative as writing a song, reading codes for me are like reading sheet music - the printed note requires interpretation and execution. Every day it takes me a little closer to building anything I can dream of. And the sense of satisfaction I got after finishing a project was something I hadn’t felt in years.<br>

                <h4>Front-end focused with full stack experience</h4>
                <br>During my bootcamps in Le Wagon, I mainly took part of front-end role in the team, and helped problem solving on the server side. I also love pair-programming where I get a chance to learn and share my knowledge. In my spare time, I enjoy doing my hobbies, attend meetup events or online courses to grow my passion for all things in tech.
                </p>
              </div>

              <!-- Action button -->
              <div class="btns-action">
                <a class="btn btn-circicon btn-primary" href="#projects">
                  <span class="icon"></span>
                  <span class="text">View Projects</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of about me section -->

    <!-- Begin of projects section -->
    <div class="section section-twoside fp-auto-height-responsive " data-section="projects-featured">
      <div class="slide"><a name="projects"></a>
        <div class="title-desc">
          <h2 class="display-4 display-title px-5">Projects</h2>
        </div>
        <div class="slide-wrapper">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/designnhub.png" alt="DesignnHub">
            </div>
            <div class="legend">
                <h3>DesignnHub</h3>
                <h4>Ruby on Rails | PostgreSQL | JavaScript | Pundit </h4>
                <p>A digital destination for all designers to connect and collaborate easily.</p>
                <p>Collaborate with two developers. Our vision for DesignnHub is to continue adding new features such as Q&A platform to allow users get connected in a meaningful way. </p>
              <a class="btn btn-transp-arrow btn-primary" target="_blank" href="https://github.com/slipiszko/DesignnHub">
                <span class="text">Source Code</span>
                <span class="icon arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="slide-wrapper">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/misty-cocktails-2.png" alt="Misty-Cocktails">
            </div>
            <div class="legend">
                <h3>Misty Cocktails</h3>
                <h4>Ruby on Rails | Cloudinary | Heroku | Web Design</h4>
                <p>A cocktails manager that stores cocktails and recipes.</p>
                <p>Staring from product design, UX & UI principles, till deploy on Heroku. Focused MVC in Rails: Routing, Controllers, Params & Views.</p>
                <p class="text-sm">Disclaimer : apps hosted on heroku's free plan will take few mins to load (server needs to wake up)</p>
              <a class="btn btn-transp-arrow btn-primary" target="_blank" href="https://misty-cocktails.herokuapp.com/">
                <span class="text">Demo</span>
                <span class="icon arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="slide-wrapper">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/airballnbeercover.png" alt="AirBallnBeer">
            </div>
            <div class="legend">
                <h3>AirBallnBeer</h3>
                <h4>Geocoding | Devise | MySQL </h4>
                <p>A marketplace app to let users rent and list their beer pong tables.</p>
                <p>Designed, implemented and shipped to production a clone of AirBnB prototype in 5 days, using the same workflow as successful startups.</p>
                <p class="text-sm">Disclaimer : apps hosted on heroku's free plan will take few mins to load (server needs to wake up)</p>
              <a class="btn btn-transp-arrow btn-primary" target="_blank" href="https://air-ball-n-beer.herokuapp.com/">
                <span class="text">Demo</span>
                <span class="icon arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of projects section -->

    <!-- Begin of services section -->
    <div class="section section-list-feature fp-auto-height-responsive " data-section="services">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin">
        <!-- content -->
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-4 display-title">Specialities</h2>
              </div>
            </div>
          </div>

          <!-- service list -->
          <div class="service-list grid-1 grid-md-2 grid-lg-4 decor">
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-md-desktop"></i>
              </div>
              <div class="media-body">
                <h4>FRONT-END</h4>
                <p>
                  HTML5<br>
                  CSS3 | SASS <br>
                  JavaScript<br>
                  Bootstrap<br>
                  React
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-md-code"></i>
              </div>
              <div class="media-body">
                <h4>BACK-END</h4>
                <p>
                  Ruby on Rails<br>
                  NodeJS<br>
                  Python<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-logo-buffer"></i>
              </div>
              <div class="media-body">
                <h4>DATABASE</h4>
                <p>
                  PostgreSQL<br>
                  SQLite<br>
                  MySQL<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-ios-cloud-outline"></i>
              </div>
              <div class="media-body">
                <h4>DEPLOYMENT</h4>
                <p>
                  Heroku<br>
                  Git<br>
                  Netlify<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-md-rocket"></i>
              </div>
              <div class="media-body">
                <h4>PROJECT MANAGEMENT</h4>
                <p>
                  Trello<br>
                  Github Kanban<br>
                  Notion<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-md-brush"></i>
              </div>
              <div class="media-body">
                <h4>WEB DESIGN</h4>
                <p>
                  Figma<br>
                  InVision<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-md-contacts"></i>
              </div>
              <div class="media-body">
                <h4>SOFTSKILLS</h4>
                <p>
                  Teamwork<br>
                  Curiosity and continuous learning<br>
                  Humour<br>
                  Empathy
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media">
              <div class="img-service">
                <i class="icon ion-md-happy"></i>
              </div>
              <div class="media-body">
                <h4>HOBBIES</h4>
                <p>
                  Hiking<br>
                  Travel<br>
                  Arts<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of services section -->
  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
<%= partial "layouts/footer" %>
  <!-- END OF site footer -->
<script>
  // typing effect
  const typedTextSpan = document.querySelector(".typed-text");
  const cursorSpan    = document.querySelector(".cursor");
  const textArray     = ["Hello!", "Bonjour!", "Hola!", "Ciào!", "Hallo!", "Olá!","G'day!","Hej!","Aloha!"];
  const typingDelay   = 100;
  const erasingDelay  = 80;
  const newTextDelay  = 1000; // Delay between current and next text
  let textArrayIndex  = 0;
  let charIndex       = 0;
  function type() {
    if (charIndex < textArray[textArrayIndex].length) {
    if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
    charIndex++;
    setTimeout(type, typingDelay);
    }
    else {
    cursorSpan.classList.remove("typing");
    setTimeout(erase, newTextDelay);
    }
  }

  function erase() {
    if (charIndex > 0) {
      if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
      typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
      charIndex--;
      setTimeout(erase, erasingDelay);
    }
    else {
      cursorSpan.classList.remove("typing");
      textArrayIndex++;
      if(textArrayIndex>=textArray.length) textArrayIndex=0;
      setTimeout(type, typingDelay + 1100);
    }
    }
    document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
    if(textArray.length) setTimeout(type, newTextDelay + 250);
    });
</script>
