
<%# <div class='page-loader'>
    <div><i class='fa fa-spinner  fa-spin'></i><p>loading</p></div>
</div> %>

  <!-- BEGIN OF site header Menu -->
  <%= partial "layouts/navbar" %>
  <!-- END OF site header Menu-->

  <!-- BEGIN OF page cover -->
  <div id="parallax">
  </div>
  <!--END OF page cover -->

  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage" id="mainpage">

    <!-- Begin of intro section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive main-home section-centered"
    data-section="home">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin v-center">
        <!-- content -->
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-1 display-title home-title decor">Jun Low</h2>
                <div class="animated-intro">
                  <p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
                </div>
                <p>I'm Jun, a web developer, teacher, and a pianist who loves to create things and help others to achieve their goals with web development.</p>
              </div>

              <!-- Action button -->
              <div class="btns-action">
                <a class="btn btn-circicon" href="#about">
                  <span class="icon"></span>
                  <span class="text">My story</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="section-aside aside-bottom">

          <!-- Action button -->
          <%# <div class="btns-action text-right">
            <a class="btn btn-outline-white btn-round" href="#contact">
              Contact
            </a> %>
          </div>
        </div>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of intro section -->
    <br>
    <br>
    <br>
    <!-- Begin of about section -->
    <div class="pt-5 section section-description fp-auto-height-responsive" data-section="about">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
        <!-- content -->
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-md-8 text-left">
              <!-- about me section -->
              <a name="about"></a>
              <div class="title-desc pt-5">
                <h1 class="display-1 display-title">About</h1>
                <h4 class="display-yellow">Why tech?</h4>
                <p>
                  Code to me feels like I’m learning a new instrument, an instrument that is only limited by my imagination. Finding solutions became just as creative as writing a new song.
                </p>
                <p>
                  Reading code for me is like reading sheet music — the printed notes require interpretation and execution. Every day I code it takes me a little closer to building anything I can dream of; and that sense of satisfaction I get after finishing a project is something I haven’t felt in years.
                </p>
                <br>
                <h4 class="display-yellow">Front-end focused with full stack experience</h4>
                <p>
                  I'm currently a developer at <a class="underline-link" href="https://upstream-media.ch/" target="_blank">Upstream Media</a> building things for the software with some awesome people. I enjoy bridging the gap between my technical knowledge with my keen eye for design to create a beautiful product. My goal is to always build scalable applications while providing engaging, pixel-perfect user experiences.
                </p>
                <p>
                  So far my journey has been one of continuous learning, which is why I love collaborating with people and exchanging new skills. 
                  When I'm not in front of a computer screen, I enjoy hiking, walk my dogs, and playing new pieces. I’m always looking for a new room to flourish and grow.
                </p>
              </div>

              <!-- Action button -->
              <div class="btns-action">
                <a class="btn btn-circicon" href="#projects">
                  <span class="icon"></span>
                  <span class="text">View Projects</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of about section -->
  <br>
    <!-- Begin of projects section -->
    <div class="section section-twoside fp-auto-height-responsive fullwidth with-margin" data-section="projects-featured">
      <div class="slide pb-5">
        <a name="projects"></a>
        <div class="title-desc fullwidth right-title">
          <h2 class="display-1 display-title">Projects</h2>
        </div> 
        <div class="slide-wrapper" data-aos="fade-up">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/designnhub.png" alt="DesignnHub">
            </div>
            <div class="legend">
              <h3 class="display-yellow">DesignnHub</h3>
              <h4>Ruby on Rails | PostgreSQL | JavaScript | Pundit </h4>
              <p>A digital destination for all designers to connect and collaborate easily.</p>
              <p>Collaborate with two developers. Our vision for DesignnHub is to continue adding new features such as Q&A platform to allow users get connected in a meaningful way. </p>
              <a class="btn btn-transp-arrow" target="_blank" href="https://github.com/slipiszko/DesignnHub">
                <span class="text">Source Code</span>
                <span class="icon arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide pb-5">
        <div class="slide-wrapper" data-aos="fade-up">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/cryptopare.png" alt="Cryptopare">
            </div>
            <div class="legend">
              <h3 class="display-yellow">Cryptopare</h3>
              <h4>VueJS | Axios | Vercel | Tailwind</h4>
              <p>💰An easy way to compare cryptocurrency performance and results.</p>
              <p>A small project of VueJS focused on RestfulAPI for getting coins data and Utility-first CSS framework.</p>
              <a class="btn btn-transp-arrow" target="_blank" href="https://crypto-compare.now.sh/">
                <span class="text">Demo</span>
                <span class="icon arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide pb-5">
        <div class="slide-wrapper" data-aos="fade-up">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/misty-cocktails-2.png" alt="Misty-Cocktails">
            </div>
            <div class="legend">
                <h3 class="display-yellow">Misty Cocktails</h3>
                <h4>Ruby on Rails | Cloudinary | Heroku | Web Design</h4>
                <p>A cocktails manager that stores cocktails and recipes.</p>
                <p>Staring from product design, UX & UI principles, till deploy on Heroku. Focused MVC in Rails: Routing, Controllers, Params & Views.</p>
                <p class="text-sm">Disclaimer : apps hosted on heroku's free plan will take few mins to load (server needs to wake up)</p>
              <a class="btn btn-transp-arrow" target="_blank" href="https://misty-cocktails.herokuapp.com/">
                <span class="text">Demo</span>
                <span class="icon arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide pb-5">
        <div class="slide-wrapper" data-aos="fade-up">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/nuxt-pwa-news.png" alt="AirBallnBeer">
            </div>
            <div class="legend">
                <h3 class="display-yellow">Nuxt PWA News</h3>
                <h4>NuxtJS | PWA | MySQL </h4>
                <p>A news app that curated worldwide news and breaking news headlines.</p>
                <p>Build a Progressive Web Application With Nuxt.js.</p>
                <a class="btn btn-transp-arrow" target="_blank" href="https://github.com/jun-low/nuxt-pwa-news">
                  <span class="text">Source Code</span>
                  <span class="icon arrow-right"></span>
                </a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide pb-5">
        <div class="slide-wrapper" data-aos="fade-up">
          <div class="item-wrapper">
            <div class="illustr">
              <img class="img img-block" src="images/items/airballnbeercover.png" alt="AirBallnBeer">
            </div>
            <div class="legend">
                <h3 class="display-yellow">AirBallnBeer</h3>
                <h4>Ruby on Rails | Geocoding | MySQL </h4>
                <p>A marketplace app to let users rent and list their beer pong tables.</p>
                <p>Designed, implemented and shipped to production a clone of AirBnB prototype in 5 days, using the same workflow as successful startups.</p>
                <p class="text-sm">Disclaimer : apps hosted on heroku's free plan will take few mins to load (server needs to wake up)</p>
              <a class="btn btn-transp-arrow" target="_blank" href="https://air-ball-n-beer.herokuapp.com/">
                <span class="text">Demo</span>
                <span class="icon arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of projects section -->

    <!-- Begin of services section -->
    <div class="section section-list-feature fp-auto-height-responsive " data-section="services">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin">
        <!-- content -->
        <div class="section-content">
          <div class="row">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-1 display-title">Specialities</h2>
              </div>
            </div>
          </div>

          <!-- service list -->
          <div class="service-list grid-1 grid-md-2 grid-lg-4 decor">
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-md-desktop"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">FRONT-END</h4>
                <p>
                  HTML5<br>
                  CSS3 | SASS <br>
                  JavaScript<br>
                  TypeScript<br>
                  Bootstrap | Tailwind <br>
                  VueJS & Vuex
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-md-code"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">BACK-END</h4>
                <p>
                  Ruby on Rails<br>
                  NodeJS<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-logo-buffer"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">DATABASE</h4>
                <p>
                  PostgreSQL<br>
                  SQLite<br>
                  MySQL<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-ios-cloud-outline"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">DEPLOYMENT</h4>
                <p>
                  Google Cloud Platform<br>
                  Heroku<br>
                  Git | Github<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-md-rocket"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">PROJECT MANAGEMENT</h4>
                <p>
                  JIRA<br>
                  Trello<br>
                  Github Kanban<br>
                  Notion<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-md-brush"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">WEB DESIGN</h4>
                <p>
                  Figma<br>
                  InVision<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-md-contacts"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">SOFTSKILLS</h4>
                <p>
                  Teamwork<br>
                  Curiosity and continuous learning<br>
                  Humour<br>
                  Time Management<br>
                </p>
              </div>
            </div>
            <!-- an item -->
            <div class="item media" data-aos="fade-down">
              <div class="img-service">
                <i class="icon ion-md-happy"></i>
              </div>
              <div class="media-body">
                <h4 class="display-yellow">HOBBIES</h4>
                <p>
                  Hiking<br>
                  Travel<br>
                  Arts<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of services section -->
  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
<%= partial "layouts/footer" %>
  <!-- END OF page footer -->

